@using Parcels.Models;

<ul>
<li> Parcel Dimensions: </li>
<ul>
  <li>@Parcel.Length in x @Parcel.Width in x @Parcel.Height in</li>
  <li>@Parcel.Volume() sq in</li>
  <li>@Parcel.Weight lbs.</li>
</ul>
<li> Shipping Cost: $ @Parcel.Cost() </li>

</ul>