<ul>
<li> Parcel Dimensions: </li>
<ul>
  <li>@Model.Length in x @Model.Width in x @Model.Height in</li>
  <li>@Model.Volume() sq in</li>
  <li>@Model.Weight lbs.</li>
</ul>
<li> Shipping Cost: $ @Model.Cost() </li>

</ul>